@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* variables */
:root {
  --bg-color: #101010;
  --bg2-color: #090909;
  --text-primary: #d5d5d5;
  --text-secondary: #444444;
  --button-bg-color: #1c1c1c;
  --notification-primary-color: #004c00;
  --notification-secondary-color: #1a261a;
  --border-color: #1e1e1e;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 1.1em;
  background: var(--bg-color);
}

/* layout */

.sidebarBtn {
  background-color: transparent;
  color: var(--text-primary);
  padding: .7em;
  border: 1px solid transparent;
  border-radius: .5em;
  transition: ease-in-out .4s;
}

.sidebarBtn:hover {
  background-color: var(--button-bg-color);
  color: var(--text-primary);
  border: 1px solid transparent;
  border-radius: .5em;
  transition: ease-in-out .4s;
}

.sidebarBtn:active {
  background-color: var(--button-bg-color);
  color: var(--text-primary);
  border: 1px solid transparent;
  border-radius: .5em;
}

.notificationBlob {
  background-color: var(--notification-secondary-color);
  color: var(--notification-primary-color);
}