.dashboard-content {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    grid-template-rows: 25vh 25vh 25vh;
    gap: 1em;
    grid-template-areas: "card-1 card-2 card-3 card-4"
                         "card-5 card-5 card-5 card-6"
                         "card-7 card-8 card-8 card-8";
}

.card-1 {
    grid-area: card-1;
}

.card-2 {
    grid-area: card-2;
}

.card-3 {
    grid-area: card-3;
}

.card-4 {
    grid-area: card-4;
}

.card-5 {
    grid-area: card-5;
}

.card-6 {
    grid-area: card-6;
}

.card-7 {
    grid-area: card-7;
}

.card-8 {
    grid-area: card-8;
}